<div class="group panel-default" style="border-left-color: #<%= device.color %>;">
  <div class="panel-heading">
    <h4>Location: <b><%= device.location %></b></h4>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-stripped">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Event type</th>
        </tr>
      </thead>
      <tbody>
        <% if device.events.empty? %>
          <tr>
            <td colspan="2" class="text-center">
              There are no recorded events for this device.
            </td>
          </tr>
        <% else %>
          <%= render partial: 'event_row', collection: device.events.entries, as: :event %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
