<h1>Devices</h1>
<br />
<%= render partial: 'shared/error_messages', object: @device, as: :object %>
<% if @devices.empty? %>
  <div class="alert alert-info fade in text-center">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    There are no devices assoaciated with your account.
  </div>
<% else %>
  <%= render partial: 'device', collection: @devices %>
<% end %>
<form id="editLocation" accept-charset="UTF-8" action="" method="post" class="hide">
  <input name="_method" type="hidden" value="patch" />
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input name="device[location]" type="hidden" value="" />
</form>
