<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Going postal</h1>
  <p>
    Welcome to the Going postal home page. Please create an account or log in
    using existing account to proceed.
  </p>
  <div class='text-center'>
    <a href='#' class="btn btn-lg btn-primary">Create account</a>
    <a href='#' class="btn btn-lg btn-info">Login</a>
  </div>
</div>
